/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-height: 1000px;
}


/* actual CSS */

var {
  --primary: #2D8AB1;
}

:root {
  --secondary: #000000;

}

body {
  margin: 0;
  padding: 20px;
  font-family: "Roboto Mono";
  background: var(--secondary);
  display: flex;
}

* {
  color: #ffffff;
  margin: 0;
}

p {
  margin: 20px 0;
}



button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
  background-color: var(--primary);
}

/* navbar */

header nav {
  display: flex;
  gap: 32px;
  justify-content: end;
  flex-wrap: wrap;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  margin-top: 0;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  font-size: 50px;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0px;
  padding: 5px;
  display: block;
  flex-wrap: wrap;
  justify-content: start;
}

.title-card {

  font-size: 32px;
}

.description-paragraph {
  font-size: 28px;
}

.root-layout {
  display: flex;
  flex-wrap: wrap;
}



.rule-entry {
  flex-wrap: wrap;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.rules-container {
  display: flex;
  flex-wrap: wrap;
}

.city-name {
  font-size: 20px;
  margin: 20px;

  font-weight: bold;
}

.entry-nav-link {
  text-decoration: none;
  padding: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  width: 100%;
  margin: 13px;
  padding: 5px;
  display: block;
  text-align: start;
}

.search-nav-link {
  text-decoration: underline;
  padding: 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  width: 100%;

  display: block;
  text-align: start;
  margin: 0;
  margin-bottom: 15px;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  font-size: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.search-results-list-item {
  width: 100%;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  font-size: 13px;
  margin-bottom: 15px;
}

.search-result-item-address {
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.entry-nav-link:before {
  content: ">";
  margin-right: 10px;
}

.vendor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
}

.main-nav-link {
  display: flex;
  width: 100%;
  color: #ffffff;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  text-align: start;
}

.main-nav-link:before {
  content: ">";
  margin-right: 10px;
}



.meme-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  min-height: 90vw;
  max-height: 120vw;
  object-fit: contain;
  object-position: center;
  box-sizing: border-box;
}

.meme-generator-header {
  margin: 0;
  font-size: 20px;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
} */

.radio-city-select {
  display: none;
}

.radio-city-select-label {
  display: flex;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.radio-city-select-label.active {
  display: flex;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #fff;
  font-size: 20px;
  color: #000000;
  background-color: #fff;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.radio-city-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;



}


.rating-group {

  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
}

.radio-rating-select {
  display: none;
}

.radio-rating-select-label {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  text-align: center;

}

.radio-rating-select-label.active {
  color: #000;
  background-color: #ffffff;
  border: none;
}


.error-message {
  color: red;
  font-size: 15px;
  text-decoration: underline;
}

.form-label {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 15px;
  width: 100%;
  text-align: center;

}

.form-input {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #000;
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto Mono";
  box-sizing: border-box;
}

.address-block {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: "Roboto Mono";
  box-sizing: border-box;
}

.date-created-text {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Roboto Mono";
  box-sizing: border-box;
}

.search-input {

  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background-color: #000;
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto Mono";
  margin-bottom: 30px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.category-select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.category-select.placeholder-style {
  color: #757575;
  /* Adjust the color as needed */
}

.category-option {
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  cursor: pointer;
}



.submit-message {
  color: green;
  font-size: 20px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  cursor: pointer;
}

.loading-indicator {
  color: green;
  font-size: 20px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 5px solid #000;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  cursor: pointer;
}

.header-submenu {
  width: 100%;


}

.heaver-submenu> :nth-child(1) {
  display: none;
}

.header-main-menu {
  width: 100%;

}


.avatar {
  border-radius: 50%;
  width: 89px;
  height: 87px;
  display: block;
  margin: 0 auto;
}

.back-button {
  display: flex;
  justify-content: start;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  cursor: pointer;
}

.back-button:before {
  content: "<";
  margin-right: 10px;
}

h1 {
  margin: 0;
  font-size: 40px;
  justify-content: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 10px;
}

/* .meme-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  max-width: 100vw;
  overflow-x: hidden;
} */

.meme-img {
  max-height: 100%;
  max-width: 100%;
}

.new-meme-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-52%);
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  font-size: 20px;
  background-color: #000000;
  cursor: pointer;
}

.pro-con-entry {
  width: 100%;
  margin: 5px;
}

.pro-con-entry:before {
  content: "-";
  margin-right: 10px;
}

.pro-con-header {
  margin: 0;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.entry-header {
  margin: 0;
  font-size: 20px;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.suggest-header {
  margin: 0;
  font-size: 20px;
  justify-content: start;
  margin-top: 10px;
  margin-bottom: 10px;

}

.entry-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.entry-rating {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.entry-rating::before {
  content: "â­";
  margin-right: 10px;
}


.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  width: 48%;
  background-color: #000000;
  cursor: pointer;
  box-sizing: border-box;
}

.gmaps-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  width: 48%;
  background-color: #000000;
  cursor: pointer;
  box-sizing: border-box;
}

.share-gmaps-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 20px;
  width: 100%;
  background-color: #000000;
  cursor: pointer;
  box-sizing: border-box;
}